@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 11.2%;
}

nav>div:last-of-type{
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

nav>div:last-of-type a{
    text-decoration: none;
    color: #1143A4;
}

.banner{
    background: transparent url('./images/banner.jpg');
    background-size: contain;
    position: relative;
}

.image-overly{
    background-color: #00000094;
    padding: 20px 11.2%;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-container>div:first-of-type{
    color: #ffffff;
    width: 63%;
}

.banner-container>div:first-of-type h2{
    font-size: 32px;
    font-weight: 500;
}

.banner-container>div:first-of-type h3{
    font-size: 28px;
    margin: 7px 0;
    font-weight: 700;
}

.banner-container>div:first-of-type h6{
    font-size: 16px;
    font-weight: 500;
}

.banner-container>div:last-of-type{
    width: 33%;
    background-color: #ffffff;
    padding: 15px 33px;
    color: #444444;
    border: 2px solid #dddddd;
}

.banner-container>div:last-of-type h5{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.banner-container>div:last-of-type input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 4px;
    font-family: 'EB Garamond', serif;
    font-size: 17px;
    border: 1px solid #dddddd;
}

.banner>div:last-of-type input[type= 'submit']{
    background-color: #F44336;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 6px;
    cursor: pointer;
}

.banner>div:last-of-type select{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 9px;
    border-radius: 4px;
    /* font-family: 'EB Garamond', serif; */
    /* font-size: 17px; */
    border: 1px solid #dddddd;
    font-weight: 600;
}

.banner>div:last-of-type option{
    padding: 10 6xpx;
    /* margin-bottom: 15px; */
    font-size: 17px;
}
.banner>div:last-of-type input:focus{
    outline: none;
}

.banner>div:last-of-type select:focus{
    outline: none;
}



